@import "./globale.css"; /* HERO START */
.hero {
}
.hero__container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.hero__link {
  padding: 20px 18px;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
  height: 382px;
}
.hero__link__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  max-width: 358px;
  margin-bottom: 10px;
  &:hover {
    color: #7296ec;
  }
}
.hero__link__description {
  width: 346px;
  margin-bottom: 15px;
  color: #4a4b4c;
}
.hero__link__img {
  margin-bottom: 15px;
  border-radius: 10px;
}
.hero__link__bottom__wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}

.hero__link__small-subtitle {
  color: #5e5f61;
}
/* HERO END */
/* Cta start */

.cta__container {
  background-image: url(../img/cta-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.cta__content {
  padding: 24px 29px;
  margin-left: 75px;
}
.cta__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  max-width: 404px;
  margin-right: 397px;
}

.cta__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  background-color: #f78b3b;
  border: 0;
  color: #ffffff;
  padding: 13px 30px;
  transition: 0.5s;
}
.cta__btn:hover {
  opacity: 60%;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 850px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  z-index: 100;
}
.close__btn {
  display: flex;

  justify-self: flex-end;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 26px;
}
.close__btn__img {
  border: 0;
  background: 0;
}
.cta__bady {
}
.cta__modal__title {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  line-height: 34px;
  width: 100%;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.cta__modal__btn {
  display: flex;
  justify-self: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  background-color: #f78b3b;
  border: 0;
  color: #ffffff;
  padding: 13px 30px;
}
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* Cta end */

/* SERVICES START */
.services {
  margin-bottom: 100px;
  margin-top: 60px;
}
.services__container {
  display: flex;
  gap: 10px;
}

.services__link__list {
}
.services__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.44px;
  color: #000000;
  margin-bottom: 20px;
}
.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.services__item {
  background-color: #f6f6f6;
  display: flex;
  gap: 15px;
  border-radius: 15px;
  width: 797px;
  height: 205px;
}
.services__item__img {
  border-radius: 10px;
  margin: 20px 17px;
}
.services__subtitle {
  width: 100%;
  max-width: 535px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}
.services__description {
  color: #4a4b4c;
  margin-bottom: 17px;
}
.services__logo__and__time__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.services__logo__description {
  font-size: 12px;
  line-height: 14.22px;
  color: #5e5f61;
}
.services__link__button {
  padding: 17px 343px;
  border-radius: 10px;
  border: 0;
  margin-top: 17px;
  background-color: #eaeaea;
}
/* SERVICES END */
