@import "../../css/globale.css";

/* features start */

.features__container {
  display: flex;
}

.features__content__link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.features__content__link__description {
  color: #5e5f61;
  font-size: 14px;
  line-height: 15.59px;
}
.features__content__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 20px;
}
.features__content__img {
  border-radius: 13px;
  margin-bottom: 25px;
}
.features__content__description {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 24px;
}
.features__content__description_bottom {
  padding-bottom: 50px;
  border-bottom: 1px solid #d2d2d2;
}

/* features end */
/* services start */

.services__container {
  margin-bottom: 100px;
}
.container {
}
.services__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.44px;
  margin-bottom: 20px;
}
.services__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.services__item {
  background-color: #f6f6f6;
  padding: 20px 17px 15px 26px;
  border-radius: 15px;
  width: 100%;
  max-width: 393px;
  height: 207px;
}
.services__item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}
.services__item__description {
  width: 100%;
  max-width: 346px;
  color: #4a4b4c;
  margin-bottom: 20px;
}
.services__link__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.services__link__imges {
}
.services__link__img {
}
.services__link__description__wrapper {
}
.services__link__description {
}
/* services end */
